doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel='stylesheet', href='/dist/fa-svg-with-js.css')
  body
    .sidebar
      a.home-link(href="/")
        img.logo(src="../images/sickintech-logo-color.png" alt="Sick in Tech logo")
        h1.site-title= h.siteName
      .about
        p Resources to better understand what it's like to have a chronic or invisible illness in tech. 
      nav
        ul.nav.flex-column
          li.nav-item
            a.nav-link(href="/resources", class=(currentPath.startsWith('/resources') ? 'nav-active' : '')) Resources
          if user
            li.nav-item
              a.nav-link(href="/add", class=(currentPath.startsWith('/add') ? 'nav-active' : '')) Add a Resource
          li.nav-item
            a.nav-link(href="/about", class=(currentPath.startsWith('/about') ? 'nav-active' : '')) About
          li.nav-item
            a.nav-link(href="/contact", class=(currentPath.startsWith('/contact') ? 'nav-active' : '')) Contact
      .nav-footer
        ul.nav.justify-content-center
          if user
            li.nav-item
              a.nav-link(href="/account") Account
            li.nav-item
              a.nav-link(href="/logout") Logout
          else
            li.nav-item
              a.nav-link(href="/login") Login
            li.nav-item
              a.nav-link(href="/register") Register
    .body-content
      .container-fluid
        .row
          block messages
            if locals.flashes
              .inner.inner--flashes
                .flash-messages
                  - const categories = Object.keys(locals.flashes)
                  each category in categories
                    each message in flashes[category]
                      .flash(class=`flash--${category}`)
                        p.flash__text!= message
                        button.flash__remove(onClick="this.parentElement.remove()") &times;
        .row
          .content.col-lg-10
            block content
    script(src="/dist/App.bundle.js")