mixin resourceTable(resources = {})
  table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th(scope="col") Title
          th(scope="col") Category
          th(scope="col") Description
          th(scope="col") Link
      tbody
        each resource in resources
          tr
            td= resource.title
            td= resource.category.join(', ')
            td= resource.description
            td
              a.btn.btn-primary(href=resource.link) Go
              if user
                - const hasBookmarks = user.bookmarks.filter(bm => bm._id == resource._id).length > 0
                if hasBookmarks
                  a.btn.btn-secondary(href=`/resource/${resource._id}/bookmark`) Unbookmark
                else
                  a.btn.btn-secondary(href=`/resource/${resource._id}/bookmark`) Bookmark
              if resource.author && user && resource.author.equals(user._id)
                a.btn.btn-secondary(href=`/resource/${resource.slug}/edit`) Edit