mixin resourceForm(resource = {})
  form(action=`/add/${resource.slug || ''}` method="POST")
    .form-group
      label(for="title") Title
      input.form-control(type="text" name="title" value=resource.title)
    .form-group
      label(for="link") Link
      input.form-control(type="text" name="link" value=resource.link)
    .form-group
      label(for="description") Description
      textarea.form-control(name="description")= resource.description

    - const choices = ['Article', 'Book', 'Social Media', 'Podcast', 'Video', 'Other']
    - const categories = resource.category || ''
    .form-group
      each choice in choices
        .form-check
          label.form-check-label(for=choice)
            input.form-check-input(type="radio" id=choice value=choice name="category" checked=(categories.includes(choice)))
            span= choice

    input.btn.btn-primary(type="submit" value=title class="button")

    if resource
      a.btn.btn-danger#DeleteResource(href="#") Delete #{resource.title}